.error {
    color: red;
    background: lightgray;
    font-size: 20 px;
    border-style: solid;
    border-radius: 5px;
    padding: 10 px;
    margin-bottom: 10px;
}

.note {
    color: green;
    background: lightgray;
    font-size: 20 px;
    border-style: solid;
    border-radius: 5px;
    padding: 10 px;
    margin-bottom: 10px;
}